* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

.trybewarts-header-logo {
  align-self: flex-start;
}

.trybewarts-login {
  justify-content: flex-end;
}

.login-button{
  padding: 10px;
  background-color: purple;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
