* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-title {
  align-self: center;
}

.trybewarts-login {
  display: flex;
}

input {
  padding: 10px;
  border-radius: 5px;
}

#login-button {
  padding: 10px;
  background-color: purple;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

#body-main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#full-name {
  display: flex;
}

#input-name {
  flex-grow: 1;
}

#input-lastname {
  flex-grow: 1;
}

#email-house {
  display: flex;
}

#input-email {
  flex-grow: 1;
}

#house {
  flex-grow: 1;
}
