* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: purple;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-around;
  box-shadow: white 2px 2px 1px;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-header-logo {
  width: 75px;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

hr {
  margin: 5px;
}

#email {
  margin-right: 10px;
}

#password {
  margin-right: 10px;
}

#login-button {
  padding: 10px;
  background-color: purple;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

#body-main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: 2px solid rgb(151, 150, 150);
  margin: 15px 20px 12px 20px;;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  box-shadow: white 2px 2px 1px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 30px;
}

#full-name {
  display: flex;
}

#input-name {
  flex-grow: 1;
}

#input-lastname {
  flex-grow: 1;
}

#email-house {
  display: flex;
}

#input-email {
  flex-grow: 1;
}

#house {
  flex-grow: 1;
  border-radius: 5px;
}

#textarea-comment {
  display: flex;
}

#counter {
  align-self: flex-end;
}

footer {
  background-color: rgb(50, 167, 145);
  border-top: 2px solid white;
  position: absolute;
  bottom: 0;
  padding: 0.5%;
  width: 100%;
}

footer p {
  font-size: 19px;
  text-align: center;
}