* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-title {
  align-self: center;
}

.trybewarts-login {
  display: flex;
}

input {
  padding: 10px;
  border-radius: 5px;
}

#login-button{
  padding: 10px;
  background-color: purple;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

#body-main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
}
